html, body {
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
#overall {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
}
#title {
    font-size: 5vw;
    /* position: absolute;
    top: 0;
    left: calc(50% - 8vw); */
    
}
#titleholder {
    grid-area: 1 / 1 / 2 / 2;
    align-items:start;
}
#tileholder {
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    padding-left: 2%;

}

#icon {
    width: 100%;
}

#tile {
    box-sizing: border-box;
    width: 18vw;
    height: 21vw;
    border-width: 1px;
    border-color: black;
    border-style:solid;
    display: grid;
    grid-template-rows: 6fr, 1fr;
    grid-template-columns: 1fr;
}
.songsearch {
    height: 3vw;
    width: 18vw;
    border: 1px solid black;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 3fr 2fr;
}

.searchicon {
    height: 3vw;
    width: 3vw;
    grid-area: 1/1/3/2;
}
.searchtitle {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
}
.searchartist {
    grid-area: 2 / 2 / 3/ 3;
    text-align: left;
}
input {
    width: 16vw;
    height: 1vw;
}