/* src/index.css */

html,
body {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
  background-color: silver;
  color: #1db954;
  font-family: Montserrat;
}

#overall {
  width: 100%;
  height: 100vh; /* Ensure it doesn't exceed the viewport height */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr; /* Adjust rows to fit content better */
}

#songInfo {
  overflow: auto;
}

#title {
  font-size: 4vw; /* Slightly smaller font size */
  text-align: left;
  margin-left: 2%;
}

#titleholder {
  grid-area: 1 / 1 / 2 / 2;
  align-items: start;
  background-color: white;
}

#tileholder {
  padding-top: 1vw;
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  gap: 1vw;
  width: 100%;
  padding-left: 2%;
  align-items: center;
  justify-content: center; /* Center the tiles horizontally */
  overflow: hidden; /* Ensure no content overflows */
}

#icon {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 1vw 1vw 0 0;
}

#tile {
  box-sizing: border-box;
  width: 18vw;
  height: 22vw;
  border-width: 3px;
  border-color: #1db954;
  border-style: solid;
  display: grid;
  grid-template-rows: 6fr 1fr;
  grid-template-columns: 1fr;
  background-color: #191414;
  border-radius: 1vw;
  
}

.songsearch {
  height: 4vw;
  width: 19vw;
  border: 1px solid #1db954;
  background-color: #191414;
  display: grid;
  border-radius: 1vw;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 3fr 2fr;
  overflow-y: scroll
}

.searchicon {
  height: 4vw;
  width: 4vw;
  grid-area: 1 / 1 / 3 / 2;
  border-radius: 1vw 0 0 1vw;
}

.searchtitle {
  grid-area: 1 / 2 / 2 / 3;
  text-align: left;
}

.searchartist {
  grid-area: 2 / 2 / 3 / 3;
  text-align: left;
}

input {
  width: 16vw;
  height: 1vw;
  margin: 0 auto;
  display: block;
}
